<ion-content [fullscreen]="true">
  <h2>New Hiper</h2>

  <img src="assets/icon/ecommerce.png" alt="logo">
  <form>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="credenciais.email" name = "email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <!--Esse formato doidao do ngModel é padrão do angular. PS: o nome do atributo tem q ser IGUAL na classe onde foi declarado!-->
      <ion-input [(ngModel)]="credenciais.senha" name = "senha" type="password"></ion-input>
    </ion-item>

    <ion-button color="warning" expand="block" (click)="login()">Entrar</ion-button>
    <ion-button color="warning" expand="block" fill="outline">Registrar</ion-button>
  </form>
</ion-content>
