<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" color="warning" [routerLink]="['']">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    [formGroup]="formGroup"
    (ngSubmit)="signupUser(); $event.preventDefault()"
  >
    <ion-item lines="full">
      <ion-label position="floating">Nome</ion-label>
      <ion-input formControlName="nome" type="text"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>
    <!-- Radio buttons -->
    <ion-radio-group lines="full" formControlName="tipo">
      <ion-list-header>
        <ion-label>Tipo do Cliente</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Pessoa Física</ion-label>
        <ion-radio slot="start" value="1" checked></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Pessoa Jurídica</ion-label>
        <ion-radio slot="start" value="2"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-item lines="full">
      <ion-label position="floating">CPF ou CNPJ</ion-label>
      <ion-input formControlName="cpfOuCnpj" type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Endereço</ion-label>
      <ion-input formControlName="logradouro" type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Número</ion-label>
      <ion-input formControlName="numero" type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Complemento</ion-label>
      <ion-input formControlName="complemento" type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Bairro</ion-label>
      <ion-input formControlName="bairro" type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">CEP</ion-label>
      <ion-input formControlName="cep" type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Telefone 1</ion-label>
      <ion-input formControlName="telefone1" type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Telefone 2</ion-label>
      <ion-input formControlName="telefone2" type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Telefone 3</ion-label>
      <ion-input formControlName="telefone3" type="text"></ion-input>
    </ion-item>
    <!-- Selects -->
    <ion-item>
      <ion-label>Estado</ion-label>
      <ion-select formControlName="estadoId" (ionChange)="updateCidades()">
        <ion-select-option *ngFor="let estado of estados" [value]="estado.id"
          >{{estado.nome}}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Cidade</ion-label>
      <ion-select formControlName="cidadeId">
        <ion-select-option *ngFor="let cidade of cidades" [value]="cidade.id"
          >{{cidade.nome}}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Senha</ion-label>
      <ion-input formControlName="senha" type="password"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
          <ion-button type="submit" color="warning" expand="block" [disabled]="formGroup.invalid"
            >Criar conta</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
