#label_titulo {
  text-align: center;
  display: block;
  font-size: 20px;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 20px auto 0 auto;
}

.text {
  text-align: center;
}


